.util {
   display: inline;
}

.pag {
    padding-top: 15px;
    padding-bottom: 15px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: flex-end;
    background-color: #087E8B;
}

.pag .prevNext {
    width: 80px;
    border-radius: 4px;
    background-color: #FF5A5F;
}

.pag button {
    color: #0B3954;
    background-color: #BFD7EA;
    height: 30px;
    width: 30px;
    font-size: 18px;
    padding-top: 1px;
    border: 1px solid rgba(0, 0, 0, 0.25);
    border-right-width: 0px;
    box-shadow: inset 0px 1px 0px 0px rgba(255, 255, 255, 0.35);
}

.pagination {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
}

.pagination button:hover {
    background: rgba(255, 255, 255, 0.2);
    border-top-color: rgba(0, 0, 0, 0.35);
    border-bottom-color: rgba(0, 0, 0, 0.5);
}

.pagination button:focus,
.pagination button:active {
    padding-top: 4px;
    border-left-width: 1px;
    background: rgba(255, 255, 255, 0.15);
    box-shadow: inset 0px 2px 1px 0px rgba(0, 0, 0, 0.25);
}


.dogsContainer {
    margin: 0px;
    padding: 0px;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-direction: column;
}

.cardsGrid {
    margin-top: 35px;
    display: grid;
    max-width: 100%;
    grid-template-columns: repeat(4, 1fr);
    grid-column-gap: 10px;
    justify-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

/* -------------------------------------------------------  */


/* 
.card {
    margin-top: 25px;
    display: flex;
    width: 260px;
    height: 100%;
    padding-top: 0px;
    padding-bottom: 30px;
    padding-right: 7px;
    justify-content: flex-end;
    flex-direction: column-reverse;
}

.card h3 {
    display: flex;
    margin-left: 2%;
}

.cardInfo {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 2%;
}

.cardInfo h4 {
    margin: 1px;
}

.temp {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    text-align: left;
}

.temp h5 {
    margin-bottom: 8pt;
}

.dogImg img {
    width: 100%;
    height: 260px;
    object-fit: cover;
    object-position: center center;
    border-radius: 15px;
} */